
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <p>
        推广码
      </p>

      <pre>{{$ctrl.domain}}/html/index?code={{$ctrl.user._id}}</pre>
    </div>

    <div class="col-lg-12">
      <button type="button" class="btn btn-default navbar-btn" ng-click="$ctrl.clearAll()">清空数据</button>
      <a type="button" class="btn btn-default navbar-btn" href="/api/order/e/{{$ctrl.user._id}}?role={{$ctrl.user.role}}" target="_blank">导出数据</a>
    </div>

    <div class="col-lg-12">

      <div class="panel panel-default">
        <div class="panel-heading"><i class="glyphicon glyphicon-list"></i> 订单数据 (总条数:{{$ctrl.count}})</div>
        <table class="table table-bordered">
          <thead>
            <tr>
                <th>
                  推广人
                </th>
                <th>
                  姓名
                </th>
                <th>
                  手机号
                </th>
                <th>
                  - 省 - 区 - 县 -
                </th>
                <th>
                  详细地址
                </th>
                <th>
                  提交时间
                </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="thing in $ctrl.awesomeThings">
            <td ng-init="itemUser = $ctrl.getUserName(thing.scode)">
              {{ itemUser.name }}
            </td>
            <td>{{thing.name}}</td>
            <td>{{thing.phone}}</td>
            <td>{{thing.province}}-{{thing.city}}-{{thing.district}}</td>
            <td>{{thing.street}}</td>
            <td>{{thing.create_at | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="text-center">
          <uib-pagination ng-change="$ctrl.change()" previous-text="上一页" next-text="下一页" items-per-page="100" total-items="$ctrl.count" ng-model="$ctrl.curPage" max-size="5" class="pagination-sm"  force-ellipses="true"></uib-pagination>
      </div>


    </div>
  </div>
</div>
