  <div class="form-header container-fluid">
    <div class="row">
      <h1 class="form-title col-md-12 font-family-inherit">
        【免费领取】S925满天星纯银手镯（赠送100元话费充值卡）！
      </h1>
      <div class="form-description col-md-12"><p><span style="font-size: 18px;"><strong>《满天星》店庆酬宾，为答谢大家对我们的信任与支持，时尚精美纯银手镯<span style="background-color: #FF0000;">价值298元</span>真的免费送（<span style="color: rgb(255, 0, 0);">仅限1000份</span>），7天内送到您手中！</strong></span></p>

<p><span style="color: rgb(255, 0, 0); font-size: 18px;"><strong>在线提交订单，运费自理，仅需支付运费28元即可，多1毛拒收（仓储+打包+人力+保价），支持开箱验货，承诺7天内送达。</strong></span></p>

<p><span style="font-size: 18px;"><strong>验货时请查收以下2样商品，如果缺少请拒收货物！</strong></span></p>

<p style="text-align: center;"><strong><em><span style="color: #FF0000;">1、S925满天星纯银手镯</span></em></strong></p>

<p style="text-align: center;"><img alt="" src="/assets/z.jpg"></p>

<p style="text-align: center;"><strong><span style="color: #FF0000;"><em>2、话费充值卡（100元面值）</em></span></strong></p>

<p style="text-align: center;"><img alt="" src="/assets/czk.jpg"></p>

<p><span style="color: rgb(255, 0, 0);">【关于运费】到付运费一般都是普通快递费的2倍，我们已经努力将运费价格压到最低，如果你觉得到付的运费太贵，可以咨询了解相关业务价格做比较！</span></p>
</div>
</div>
</div>
