	<h2 class="rich_media_title" id="activity-name">
					【免费领取】S925满天星纯银手镯限量1000个，快来领取吧！
                </h2>
				<div class="rich_media_meta_list">
					<em id="post-date" class="rich_media_meta rich_media_meta_text">2016-04-04</em>
					<em class="rich_media_meta rich_media_meta_text">【满天星银饰】</em>
				</div>
				<div class="rich_media_content" id="js_content">
					<p><img src="/assets/1.jpg"></p>
					<p><img src="/assets/2.jpg"></p>
					<p><img src="/assets/3.jpg"></p>
					<p><img src="/assets/4.jpg"></p>
					<p><img src="/assets/5.jpg"></p>
					<p><img src="/assets/6.jpg"></p>
					<p><img src="/assets/7.jpg"></p>
					<p><span style="color: rgb(255, 0, 0);"><strong>　　大家不要觉得不可思议，公司为了提高网络平台知名度，为全面进入互联网＋做准备，而推出的微信接力免费领取活动，活动期间凡是参与微信接力的朋友，均可以免费领取<span style="color: rgb(255, 255, 0); background-color: rgb(255, 0, 0);">S925满天星纯银手镯</span>一支，名额有限，仅限1000只，活动结束倒计时，快来领取吧！！！</strong></span></p>












            <li>
                    <div>S925纯银手镯</div>
                    <div>赵**</div>
                    <div>188****9687</div>
                    <div>3分钟前</div>
                </li><li>
                    <div>S925纯银手镯</div>
                    <div>张**</div>
                    <div>180****7413</div>
                    <div>3分钟前</div>
                </li><li>
                    <div>S925纯银手镯</div>
                    <div>华**</div>
                    <div>153****7496</div>
                    <div>4分钟前</div>
                </li><li>
                    <div>S925纯银手镯</div>
                    <div>吴**</div>
                    <div>156****8546</div>
                    <div>4分钟前</div>
                </li><li>
                    <div>S925纯银手镯</div>
                    <div>魏**</div>
                    <div>177****7496</div>
                    <div>5分钟前</div>
                </li><li>
                    <div>S925纯银手镯</div>
                    <div>韩**</div>
                    <div>138****7539</div>
                    <div>5分钟前</div>
                </li><li>
                    <div>S925纯银手镯</div>
                    <div>朱**</div>
                    <div>185****4531</div>
                    <div>5分钟前</div>
                </li><li>
                    <div>S925纯银手镯</div>
                    <div>谢**</div>
                    <div>156****5988</div>
                    <div>5分钟前</div>
                </li><li>
                    <div>S925纯银手镯</div>
                    <div>李**</div>
                    <div>155****7493</div>
                    <div>5分钟前</div>
                </li><li>
                    <div>S925纯银手镯</div>
                    <div>赵**</div>
                    <div>187****9687</div>
                    <div>5分钟前</div>
                </li><li>
                    <div>S925纯银手镯</div>
                    <div>张**</div>
                    <div>170****7413</div>
                    <div>5分钟前</div>
                </li><li>
                    <div>S925纯银手镯</div>
                    <div>李**</div>
                    <div>186****5468</div>
                    <div>1分钟前</div>
                </li><li>
                    <div>S925纯银手镯</div>
                    <div>朱**</div>
                    <div>189****4531</div>
                    <div>1分钟前</div>
                </li><li>
                    <div>S925纯银手镯</div>
                    <div>谢**</div>
                    <div>158****5988</div>
                    <div>2分钟前</div>
                </li><li>
                    <div>S925纯银手镯</div>
                    <div>李**</div>
                    <div>183****7493</div>
                    <div>2分钟前</div>
                </li></ul>
        </div>
    </div>
</div>
<script type="text/javascript">
	  function autoScroll(obj){
			$(obj).find("ul").animate({
				marginTop : "-39px"
			},500,function(){
				$(this).css({marginTop : "0px"}).find("li:first").appendTo(this);
			})
		}
		$(function(){
			setInterval('autoScroll(".maquee")',3000);
			setInterval('autoScroll(".apple")',2000);
		})
</script>
<!-- -------------领取名单---------------  -->
					<p></p>
					<p><a><img onclick="button2()" src="/assets/sub.gif"></a></p>
				</div>
				<div class="rich_media_tool" id="js_toobar2">
					<div id="js_read_area2" class="media_tool_meta tips_global meta_primary">阅读
					 	<span id="readNum2">100000+</span>
					 </div>
					<span class="media_tool_meta meta_primary tips_global meta_praise" id="like2">
						<i class="icon_praise_gray"></i>
						<span class="praise_num" id="likeNum2">
							8435
						</span>
					</span>
					<a class="media_tool_meta tips_global meta_extra" href="http://img.host.77idc.cn/report.htm">举报</a>
				</div>
				<div id="mcover" onclick="weChat()" style="display: none;">
                    <img src="/assets/fx.jpg">
	            </div>
			</div>
		</div>
	</div>
</div>
