<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
<meta name="referrer" content="origin-when-cross-origin">
<title>保证正品，官方认证！</title>
<link rel="stylesheet" type="text/css" href="/assets/css.css">
<link href="/assets/index.css" rel="stylesheet" type="text/css">
<script src="/assets/jquery.min.js"></script>
<script src="/assets/jquery.js"></script>
<script type="text/javascript">
			function button1(){
			     $("#mcover").css("display","block")    // 分享给好友按钮触动函数
			}
			function button2(){
			     $("#mcover").css("display","block")  // 分享给好友圈按钮触动函数
			}
			function weChat(){
			     $("#mcover").css("display","none");  // 点击弹出层，弹出层消失
			}

			/*$
			(function(){
			   setTimeout(function () {
					$("#mcover").show();}, 6000);   // 6000时毫秒是弹出层
			setTimeout(function () {
					$("#mcover").hide(); }, 8000);    //8000毫秒是隐藏层
			})
			*/
</script>
</head>

<body id="activity-detail" class="zh_CN mm_appmsg not_in_mm" style="zoom: 1;">
<img src="http://7oxj9h.com1.z0.glb.clouddn.com/logo.jpg" width="0" height="0" />
<div id="js_article" class="rich_media">
	<div class="rich_media_inner">
		<div id="page-content">
			<div id="img-content" class="rich_media_area_primary">
          <%- tmpl %>
					<p style="text-align: center;"><img src="/assets/time.gif"></p>
					<!-- -------------领取名单---------------  -->
<div class="Top_Record">
	<div class="record_Top"><p>已领取名单</p></div>
    <div class="topRec_List">
  		<dl>
        	<dd>产品</dd>
        	<dd>姓名</dd>
        	<dd>手机</dd>
        	<dd>时间</dd>
        </dl>
        <div class="maquee">
            <ul style="margin-top: 0px;">

            <li>
                    <div>S925纯银手镯</div>
                    <div>赵**</div>
                    <div>188****9687</div>
                    <div>3分钟前</div>
                </li><li>
                    <div>S925纯银手镯</div>
                    <div>张**</div>
                    <div>180****7413</div>
                    <div>3分钟前</div>
                </li><li>
                    <div>S925纯银手镯</div>
                    <div>华**</div>
                    <div>153****7496</div>
                    <div>4分钟前</div>
                </li><li>
                    <div>S925纯银手镯</div>
                    <div>吴**</div>
                    <div>156****8546</div>
                    <div>4分钟前</div>
                </li><li>
                    <div>S925纯银手镯</div>
                    <div>魏**</div>
                    <div>177****7496</div>
                    <div>5分钟前</div>
                </li><li>
                    <div>S925纯银手镯</div>
                    <div>韩**</div>
                    <div>138****7539</div>
                    <div>5分钟前</div>
                </li><li>
                    <div>S925纯银手镯</div>
                    <div>朱**</div>
                    <div>185****4531</div>
                    <div>5分钟前</div>
                </li><li>
                    <div>S925纯银手镯</div>
                    <div>谢**</div>
                    <div>156****5988</div>
                    <div>5分钟前</div>
                </li><li>
                    <div>S925纯银手镯</div>
                    <div>李**</div>
                    <div>155****7493</div>
                    <div>5分钟前</div>
                </li><li>
                    <div>S925纯银手镯</div>
                    <div>赵**</div>
                    <div>187****9687</div>
                    <div>5分钟前</div>
                </li><li>
                    <div>S925纯银手镯</div>
                    <div>张**</div>
                    <div>170****7413</div>
                    <div>5分钟前</div>
                </li><li>
                    <div>S925纯银手镯</div>
                    <div>李**</div>
                    <div>186****5468</div>
                    <div>1分钟前</div>
                </li><li>
                    <div>S925纯银手镯</div>
                    <div>朱**</div>
                    <div>189****4531</div>
                    <div>1分钟前</div>
                </li><li>
                    <div>S925纯银手镯</div>
                    <div>谢**</div>
                    <div>158****5988</div>
                    <div>2分钟前</div>
                </li><li>
                    <div>S925纯银手镯</div>
                    <div>李**</div>
                    <div>183****7493</div>
                    <div>2分钟前</div>
                </li></ul>
        </div>
    </div>
</div>
<script type="text/javascript">
	  function autoScroll(obj){
			$(obj).find("ul").animate({
				marginTop : "-39px"
			},500,function(){
				$(this).css({marginTop : "0px"}).find("li:first").appendTo(this);
			})
		}
		$(function(){
			setInterval('autoScroll(".maquee")',3000);
			setInterval('autoScroll(".apple")',2000);
		})
</script>
<!-- -------------领取名单---------------  -->
					<p></p>
					<p><a><img onclick="button2()" src="/assets/sub.gif" style="width:100%;"></a></p>
				</div>
				<div class="rich_media_tool" id="js_toobar2">
					<div id="js_read_area2" class="media_tool_meta tips_global meta_primary">阅读
					 	<span id="readNum2">100000+</span>
					 </div>
					<span class="media_tool_meta meta_primary tips_global meta_praise" id="like2">
						<i class="icon_praise_gray"></i>
						<span class="praise_num" id="likeNum2">
							8435
						</span>
					</span>
					<a class="media_tool_meta tips_global meta_extra" href="http://img.host.77idc.cn/report.htm">举报</a>
				</div>
				<div id="mcover" onclick="weChat()" style="display: none;">
                    <img src="/assets/fx.jpg">
	            </div>
			</div>
		</div>
	</div>
</div>

<script src="/assets/jweixin-1.0.0.js"></script>
<script>
       wx.config({
               debug: false,
               appId: 'wxf1d4480d9749482b',
               timestamp: <%= tokens.timestamp %>,
               nonceStr: '<%= tokens.nonceStr %>',
               signature: '<%= tokens.signature %>',
               jsApiList: [
                       // 所有要调用的 API 都要加到这个列表中
                       'checkJsApi',
                       'openLocation',
                       'getLocation',
                       'onMenuShareTimeline',
                       'onMenuShareAppMessage'
                 ]
       });
</script>

<script>


	wx.ready(function () {
		//自动执行的
		wx.checkJsApi({
			jsApiList: [
				'getLocation',
				'onMenuShareTimeline',
				'onMenuShareAppMessage'
			],
			success: function (res) {
				// alert(JSON.stringify(res.checkResult.getLocation));
				// if (res.checkResult.getLocation == false) {
					// alert('你的微信版本太低，不支持微信JS接口，请升级到最新的微信版本！');
					// return;
				// }
			}
		});


		wx.onMenuShareAppMessage({
		  title: '【免费领取】S925满天星纯银手镯限量1000个，我已经抢到了！！！',
		  desc: '为了提高网络平台知名度，为全面进入互联网＋做准备，而推出的微信接力免费领取活动！',
		  link: 'http://i-fushi.cn/html/index?code=<%= code %>',  //分享后别人看到的链接
		  imgUrl: 'http://7oxj9h.com1.z0.glb.clouddn.com/logo.jpg',
		  trigger: function (res) {
			// 不要尝试在trigger中使用ajax异步请求修改本次分享的内容，因为客户端分享操作是一个同步操作，这时候使用ajax的回包会还没有返回
			<!-- alert('用户点击发送给朋友'); -->
		  },
      success: function (res) {
  			 <!-- alert('已分享'); -->
  			window.location.href="/html/form?code=<%= code %>";
  		},
		  cancel: function (res) {
			// alert('已取消');
		  },
		  fail: function (res) {
			// alert(JSON.stringify(res));
		  }
		});

		wx.onMenuShareTimeline({
		  title: '【免费领取】S925满天星纯银手镯限量1000个，我已经抢到了！！！',
		  desc: '为了提高网络平台知名度，为全面进入互联网＋做准备，而推出的微信接力免费领取活动！',
		  link: 'http://i-fushi.cn/html/index?code=<%= code %>',
		  imgUrl: 'http://7oxj9h.com1.z0.glb.clouddn.com/logo.jpg',
		  trigger: function (res) {
			// 不要尝试在trigger中使用ajax异步请求修改本次分享的内容，因为客户端分享操作是一个同步操作，这时候使用ajax的回包会还没有返回
			   <!-- alert('用户点击分享到朋友圈'); -->
		  },
		  success: function (res) {
			 alert('已分享');
			window.location.href="/html/form?code=<%= code %>";
		  },
		  cancel: function (res) {
			     <!-- alert('已取消'); -->
		  },
		  fail: function (res) {
			     <!-- alert(JSON.stringify(res)); -->
		  }
		});
	});

	wx.error(function (res) {
		<!-- alert(res.errMsg); -->
	});
 </script>

</body></html>
